<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>AdvML</title>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script src="./static/js/loading.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript">  

$(function() { 
    $(".btn").click(function(){
        $(this).button('loading').delay(100000).queue(function() {
            $(this).button('reset');
            $(this).dequeue();
        });        
    });
});  

</script>
<style type="text/css">
    .bs-example{
      margin: 20px;
    }

.buttonload {
  background-color: #4CAF50; /* Green background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 12px 24px; /* Some padding */
  font-size: 16px; /* Set a font-size */
}

/* Add a right margin to each icon */
.fa {
  margin-left: -8px;
  margin-right: 8px;
}

</style>
</head>

     

  <body>

<!--      <ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" href="#">MNIST</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">CIFAR</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#"></a>
  </li> -->
<!--   <a class="nav-item disabled">
  </a>
  </li>
</ul> -->

  <center>   
     <h6><strong>Want to know how I built this tool?</strong> Check out this <a href='https://medium.com/@ezzine.khalil' target='_blank'><u>blog post</u></a>.</h6>
     <hr>

    
  <h2 font size="12">A Visual Exploration of Adversarial Attacks</font></h2><br><br>

      <form  action="/advml" method="POST" >

      <label for="model">&nbsp; &nbsp; &nbsp; Select Model:</label>
     <select name="model" style="width: 60px">
       <option value="null"> </option>
       <option value="Undistilled CNN">Undistilled CNN</option>
       <option value="Distilled CNN">Distilled CNN</option>
     </select>

     <label for="attack">&nbsp; &nbsp; &nbsp; Select Attack:</label>
     <select name="attack" style="width: 60px">
       <option value="null"> </option>
       <option value="fgsm">FGSM</option>
       <option value="cw">CW</option>
       <option value="jsma">JSMA</option>
       <option value="deepfool">DeepFool</option>
       <option value="bim">Basic Iterative Method</option>
     </select> &nbsp &nbsp &nbsp
   <div>
     <br><br>




         <button type="submit" class="btn btn-danger" id="load" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Attacking...">Attack!</button>


   </div>
   </form><br>

   <div>
   <center>
      <img src="./static/adv_images/original.png" width="500" height="333"/>
      <img src="./static/adv_images/adversarial.png" width="500" height="333"/>
   </center>
   </center><br><br><br><br>
    
</div>

                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
</center>
</body>
</html>